/* editor */

.editor {
    border-radius: 15pt;
    background-color: var(--bg-header);
    margin: 15pt auto;
    max-width: 750pt;
    padding: 10pt 5pt;
}

.editor .infos {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editor .infos img {
    width: 50vw;
    max-width: 100pt;
    border-radius: 50%;
    margin-bottom: 2.5pt;
}
.editor .infos h2 {
    text-align: center;
}
.editor .infos h2::before {
    content: "";
}

.editor form {
    margin: 15pt 0;

    display: grid;
    grid-template-columns: repeat(2, 50%);

    width: 100%;
    height: 100%;
}

.editor form> *:not(button[type="submit"]) {
    margin: 10pt auto;
    max-width: 500pt;
    padding: 2.5pt;
}

.editor form button[type="submit"] {
    width: 150pt;
    height: min-content;
    margin: auto;
}

/* notes */
.editor .notes {
    margin: 15pt 10pt;
    margin-bottom: 50pt;
    border-radius: 7.5pt;
    box-shadow: 0 2.5pt 25pt .5pt #f1f1f120;
    padding: 5pt 10pt;
}
.editor .notes h3 {
    margin: 2.5pt 0;
}
.editor .notes p::before {
    content: "- ";
}

/* each settings */
.setting-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.setting-container label {
    margin-top: 2.5pt;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.setting-container label>.webHint {
    line-height: 2em;
}
.setting-container label>.webHint::before {
    content: "(";
}
.setting-container label>.webHint::after {
    content: ")";
}
.setting-container label input {
    margin-top: 1.5pt;
    font-size: large;
    text-transform: none;
}

@media screen and (max-width: 900px) {
    .editor form {
        justify-content: center;
        grid-template-columns: 100%;
    }
}