<div class="editor">
    <div class="infos">
        <img src=">icon" alt="Icon du serveur >name">
        <h2><span class="notranslate">>name</span>'s settings</h2>
    </div>
    <div class="notes">
        <h3>Note:</h3>
        <p>A setting set in the dashboard  will not be taken into account if this same parameter has been set to discord.</p>
        <p>In the textarea, you can use the bot's variable (<code>right-click</code> on pc and <code>double-click</code> on mobile).</p>
    </div>
    <form action="/save" method="POST"></form>
</div>