# node modules
node_modules

# I use this file to start & debug my bot
console.cmd

# This files is very confidentials
token.json
_settings.json

# This file is useless for you
logs/saved/*

# The SSL keys for the web server
web/server/keys