/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

/* CSS */
@import 'header.css';
@import '_extra.css';
@import 'hero.css';
@import 'loading.css';
@import 'main.css';
@import 'footer.css';

@import '_medias.css';

/* DISCORD FONT */
@font-face {
    font-family: "Uni Sans Heavy";
    src: url('../fonts/Uni Sans Heavy/Uni\ Sans\ Heavy\ Italic.otf') format("opentype");
}
/* MOSK FONT */
@font-face {
    font-family: "Mosk";
    src: url("../fonts/Mosk/Mosk\ Normal\ 400.ttf") format("truetype");
}

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    --bg-header: #1f1f1f;
    --bg-hero: #5e5e5e;
    --bg-body: #2f2f2f;
    --extra-color: #b0d073;
    --header-maxHeight: 75pt;
    --buttons-animDuration: .30s;

    scroll-padding-top: calc(var(--header-maxHeight) + 5pt);
}

body {
    background-color: var(--bg-body);
    color: #e0e0e0;
    font-family: 'Noto Sans TC', sans-serif;

    min-height: 100vh;
}
h1,h2,h3, button {
    font-family: "Uni Sans Heavy", "Mosk", sans-serif;
}
h4,h5,h6 {
    font-family: "Mosk", "Uni Sans Heavy", sans-serif;
}
button, .no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: var(--extra-color);
}
a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    border: none;
    padding: 10pt 7.5pt;
    background-color: #000;
    color: #fff;
    position: relative;

    overflow: hidden;

    text-transform: uppercase;

    will-change: transform;

    transition: all ease;
    transition-duration: var(--buttons-animDuration);
}
button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -110%;
    width: 110%;
    height: 100%;

    z-index: -1;

    background-color: #fff;
    clip-path: polygon(0 0, 0 100%, 90% 100%, 100% 0);

    transition: all ease-in-out;
    --animPseudo: calc(var(--buttons-animDuration) / 1.5);
    transition-duration: var(--animPseudo);
}

button:hover {
    border-radius: 10pt;
    transform: scale(1.1);
    box-shadow: 0 0 5pt .5pt rgba(0,0,0,.5);

    color: #000;
}
button:hover::before {
    left: 55%;
    transform: translateX(-50%);
}

button.important {
    border: 1.5pt solid;
}
button.important:hover {
    border-color: transparent;
}

code {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
    padding: .5pt;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    border-radius: 2.5pt;
}