/* Invite button */
.invite_button {
    position: fixed;
    bottom: 10pt;
    right: 0;
    padding: 10pt;
    border-radius: 5pt 0 0 5pt;

    z-index: 1;

    background-color: #1f1f1f;
}
.invite_button button {
    border: 1.5pt solid;
}
.invite_button button:hover {
    border-color: transparent;
}


/* indev msg */
.indev {
    position: fixed;
    bottom: 10pt;
    right: 0;
    padding: 10pt;
    border-radius: 5pt 0 0 5pt;

    background-color: #1f1f1f;
    
    text-align: center;

    max-width: 25vw;
    min-width: 175pt;

    z-index: 1;

    transition: transform .15s ease-in;
}
.indev.clicked {
    transform: translateX(110%);
}
.indev .cross {
    height: 15pt;
    width: 15pt;

    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);

    border-radius: 50%;
    background-color: red;

    cursor: pointer;
}
.indev svg {
    width: 100%;
    height: 100%;
}