header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: var(--bg-header);
    box-shadow: 0 0 5pt var(--bg-header);

    max-height: var(--header-maxHeight);
}
header .top {
    padding: 5pt;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35pt;
}
header .top img {
    height: 100%;
    margin-right: 10pt;
}
header .top h1 {
    text-transform: uppercase;
}
header .top h1 .version {
    text-transform: none;
    color: rgba(255, 255, 255, .2);
    font-style: italic;
    font-family: "Noto Sans TC", "Uni Sans Heavy CAPS", sans-serif;
}

header nav {
    padding: 0 5pt;
    max-width: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-top: .5pt solid #f2f2f2;
}
header nav::-webkit-scrollbar {display: none;}

header a {
    padding: 10pt 5pt;
    margin: 0 2.5pt;
    transition: background-color .15s;
    white-space: nowrap;
}
header a:hover {
    background-color: rgba(0, 0, 0, .5);
    text-decoration: none;
}