.hero {
    min-height: 77.5vh;
    background-color: var(--bg-hero);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    text-align: center;
}
.hero > * {
    margin: 7.5pt 0;
}
.hero h1 {
    font-size: 2.5em;
}
.hero>p {
    font-size: 15pt;
    font-style: italic;
    font-weight: 600;
}

.hero .uptime {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.hero .uptime h3 {
    font-family: "Mosk";
    font-style: italic;
    font-size: 12.5pt;
}
.hero .uptime h3 span {
    text-shadow: 0 2.5pt 7.5pt #000;
    font-weight: 700;
}

.hero .infos {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .infos > * {
    margin: 0 10pt;
    padding: 10pt 7.5pt;
    border-radius: 5pt;
    background-color: var(--extra-color);
    min-width: 10vw;
    color: var(--bg-body);
    font-style: italic;
    font-weight: 800;
    font-family: "Uni Sans Heavy";
    font-size: large;
}
.hero .infos .count {
    color: #fff;
    text-shadow: 0 0 5pt #000;
    margin-right: 2.5pt;
}