.hero {
    min-height: 80vh;
    background-color: var(--bg-hero);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.hero > * {
    margin: 7.5pt 0;
}
.hero h1 {
    font-size: 2.5em;
}