@import 'dashboard/editor.css';
@import 'dashboard/guilds.css';
@import 'dashboard/noguilds.css';
@import 'dashboard/response_notif.css';
@import 'dashboard/textVariables.css';
@import 'dashboard/forms.css';

header {
    position: -webkit-sticky;
    position: sticky;

    top: 0;
    left: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5pt 10pt;
    position: relative;
}
header .user img {
    height: 25pt;
    border-radius: 50%;
    margin: 0;
    border: 1.5pt solid #fff;

    cursor: pointer;
}

header .user {
    background-color: inherit;
}

header .user nav {
    position: absolute;
    right: 0;
    overflow: hidden;
    
    top: 100%;
    max-height: 0;

    border: none;

    background-color: inherit;

    transition: .25s;

    border-end-start-radius: 5pt;
}

header.clicked .user nav {
    max-height: 50pt;
}

header.clicked + main {
    margin: 25pt auto;
}
main { 
    transition: margin .15s;
}

header .user nav> *:hover {
    background-color: inherit;
    text-decoration: underline;
}

@media screen and (max-width: 650px) {
    header .user nav> * {
        padding: 7.5pt 5pt;
    }
}

@media screen and (min-width: 825px) {
    header {
        justify-content: center;
        flex-direction: row-reverse;
        padding: 1.5pt;
    }
    header > h1 {
        margin-left: 5pt;
    }

    header .user nav {
        max-height: 50pt;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0;
    }

    main {
        margin: 25pt auto;
    }
}